*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/02285AI-MAS.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
searchclient/searchclient/build/Command.java
searchclient/searchclient/build/friendofBFS.lvl
searchclient/searchclient/build/GuiClient.java
searchclient/searchclient/build/random_agent.rb
searchclient/searchclient/build/RandomWalkClient.java
searchclient/searchclient/build/readme-searchclient.txt
searchclient/searchclient/build/readme-server.txt
searchclient/searchclient/build/SAanagram.lvl
searchclient/searchclient/build/SAbispebjergHospital.lvl
searchclient/searchclient/build/SAbotbot.lvl
searchclient/searchclient/build/SAboXboXboX.lvl
searchclient/searchclient/build/SAchoice.lvl
searchclient/searchclient/build/SACrunch.lvl
searchclient/searchclient/build/SAD1.lvl
searchclient/searchclient/build/SAD2.lvl
searchclient/searchclient/build/SAD3.lvl
searchclient/searchclient/build/SADangerBot.lvl
searchclient/searchclient/build/SAFirefly.lvl
searchclient/searchclient/build/SAlabyrinthOfStBertin.lvl
searchclient/searchclient/build/SAlabyrinthOfStBertinEmpty.lvl
searchclient/searchclient/build/SALazarus.lvl
searchclient/searchclient/build/SAmicromouseBoxAtStart.lvl
searchclient/searchclient/build/SAmicromouseContest2011.lvl
searchclient/searchclient/build/SAOptimal.lvl
searchclient/searchclient/build/SApacman.lvl
searchclient/searchclient/build/SApushing.lvl
searchclient/searchclient/build/SAsimple0.lvl
searchclient/searchclient/build/SAsimple1.lvl
searchclient/searchclient/build/SAsimple2.lvl
searchclient/searchclient/build/SAsimple3.lvl
searchclient/searchclient/build/SAsimple4.lvl
searchclient/searchclient/build/SAsoko1_06.lvl
searchclient/searchclient/build/SAsoko1_12.lvl
searchclient/searchclient/build/SAsoko1_24.lvl
searchclient/searchclient/build/SAsoko1_48.lvl
searchclient/searchclient/build/SAsoko2_06.lvl
searchclient/searchclient/build/SAsoko2_12.lvl
searchclient/searchclient/build/SAsoko2_24.lvl
searchclient/searchclient/build/SAsoko2_48.lvl
searchclient/searchclient/build/SAsoko3_06.lvl
searchclient/searchclient/build/SAsoko3_12.lvl
searchclient/searchclient/build/SAsoko3_24.lvl
searchclient/searchclient/build/SAsoko3_48.lvl
searchclient/searchclient/build/SAsokobanLevel96.lvl
searchclient/searchclient/build/SASolo.lvl
searchclient/searchclient/build/SAsorting.lvl
searchclient/searchclient/build/SAtest.lvl
searchclient/searchclient/build/SATheRedDot.lvl
searchclient/searchclient/build/SAthomasAppartment.lvl
searchclient/searchclient/build/SAtowersOfSaigon10.lvl
searchclient/searchclient/build/SAtowersOfSaigon26.lvl
searchclient/searchclient/build/SAtowersOfSaigon3.lvl
searchclient/searchclient/build/SAtowersOfSaigon4.lvl
searchclient/searchclient/build/SAtowersOfSaigon5.lvl
searchclient/searchclient/build/levels/friendofBFS.lvl
searchclient/searchclient/build/levels/SAanagram.lvl
searchclient/searchclient/build/levels/SAbispebjergHospital.lvl
searchclient/searchclient/build/levels/SAbotbot.lvl
searchclient/searchclient/build/levels/SAboXboXboX.lvl
searchclient/searchclient/build/levels/SAchoice.lvl
searchclient/searchclient/build/levels/SACrunch.lvl
searchclient/searchclient/build/levels/SAD1.lvl
searchclient/searchclient/build/levels/SAD2.lvl
searchclient/searchclient/build/levels/SAD3.lvl
searchclient/searchclient/build/levels/SADangerBot.lvl
searchclient/searchclient/build/levels/SAFirefly.lvl
searchclient/searchclient/build/levels/SAlabyrinthOfStBertin.lvl
searchclient/searchclient/build/levels/SAlabyrinthOfStBertinEmpty.lvl
searchclient/searchclient/build/levels/SALazarus.lvl
searchclient/searchclient/build/levels/SAmicromouseBoxAtStart.lvl
searchclient/searchclient/build/levels/SAmicromouseContest2011.lvl
searchclient/searchclient/build/levels/SAOptimal.lvl
searchclient/searchclient/build/levels/SApacman.lvl
searchclient/searchclient/build/levels/SApushing.lvl
searchclient/searchclient/build/levels/SAsimple0.lvl
searchclient/searchclient/build/levels/SAsimple1.lvl
searchclient/searchclient/build/levels/SAsimple2.lvl
searchclient/searchclient/build/levels/SAsimple3.lvl
searchclient/searchclient/build/levels/SAsimple4.lvl
searchclient/searchclient/build/levels/SAsoko1_06.lvl
searchclient/searchclient/build/levels/SAsoko1_12.lvl
searchclient/searchclient/build/levels/SAsoko1_24.lvl
searchclient/searchclient/build/levels/SAsoko1_48.lvl
searchclient/searchclient/build/levels/SAsoko2_06.lvl
searchclient/searchclient/build/levels/SAsoko2_12.lvl
searchclient/searchclient/build/levels/SAsoko2_24.lvl
searchclient/searchclient/build/levels/SAsoko2_48.lvl
searchclient/searchclient/build/levels/SAsoko3_06.lvl
searchclient/searchclient/build/levels/SAsoko3_12.lvl
searchclient/searchclient/build/levels/SAsoko3_24.lvl
searchclient/searchclient/build/levels/SAsoko3_48.lvl
searchclient/searchclient/build/levels/SAsokobanLevel96.lvl
searchclient/searchclient/build/levels/SASolo.lvl
searchclient/searchclient/build/levels/SAsorting.lvl
searchclient/searchclient/build/levels/SAtest.lvl
searchclient/searchclient/build/levels/SATheRedDot.lvl
searchclient/searchclient/build/levels/SAthomasAppartment.lvl
searchclient/searchclient/build/levels/SAtowersOfSaigon10.lvl
searchclient/searchclient/build/levels/SAtowersOfSaigon26.lvl
searchclient/searchclient/build/levels/SAtowersOfSaigon3.lvl
searchclient/searchclient/build/levels/SAtowersOfSaigon4.lvl
searchclient/searchclient/build/levels/SAtowersOfSaigon5.lvl
searchclient/searchclient/build/sampleclients/random_agent.rb
